name: Build SORA Control
on: [push]

jobs:
  build:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          cmake -B build -G Xcode -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"
          cmake --build build --config Release

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: SORA-Control-App
          # Pakai wildcard (*) biar dia otomatis nemu folder meskipun ada spasi
          path: build/SoraControl_artefacts/Release/*.app
